
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading text-center">
        <h3 class="panel-title" id="plTitle_Ben">BÁO CÁO HIỆN TRẠNG BẾN</h3>
    </div>
    <div class="panel-body">
        <div class="body_dau">
            <div class="col-md-12">
                <div class="col-md-1"><label class="search-label" for="searchBox">Tìm kiếm:</label></div>
                <div class="col-md-3"><input type="search" id="txtSearch_HienTrangBen" class="k-textbox" style="width:500px" /></div>
            </div>            
        </div>
    </div>    
    <div id="grid_BaoCaoHienTrangBen"></div>
</div>
@section scripts{
    <script>        
        //change event
        $("#txtSearch_HienTrangBen").on("keyup", function () {
            var selecteditem = $('#txtSearch_HienTrangBen').val();
            var kgrid = $("#grid_BaoCaoHienTrangBen").data("kendoGrid");
            console.log("ssssssssss")
            selecteditem = selecteditem.toUpperCase();
            var selectedArray = selecteditem.split(" ");
            if (selecteditem) {
                var orfilter = { logic: "or", filters: [] };
                var andfilter = { logic: "and", filters: [] };
                console.log("ssssssssss")
                $.each(selectedArray, function (i, v) {
                    if (v.trim() == "") {
                    }
                    else {
                        $.each(selectedArray, function (i, v1) {
                            //var lengthStr = selecteditem.length;
                            //var strBS = "";
                            //if (lengthStr > 3 && lengthStr < 10 && selecteditem[3] != '-') {
                            //    strBS = [selecteditem.slice(0, 3), "-", selecteditem.slice(3)].join('');
                            //} else {
                            //    strBS = v1;
                            //}

                            if (v1.trim() == "") {
                            }
                            else {
                                orfilter.filters.push({ field: "soso", operator: "contains", value: v1 });
                                andfilter.filters.push(orfilter);
                                orfilter = { logic: "or", filters: [] };
                            }

                        });
                    }
                });
                kgrid.dataSource.filter(andfilter);
            }
            else {
                kgrid.dataSource.filter({});
            }
        });
    </script>
    <script>
        var otherElementsHeightThongTinXe = $("#body_dau").height() + $(".navbar-fixed-top").height() + 300;
        $(window).resize(function () {
            var gridElement = $("#grid_BaoCaoHienTrangBen");
            otherElementsHeightThongTinXe = $("#body_dau").height() + $(".navbar-fixed-top").height() + 300;
            gridElement.children(".k-grid-content").height($(window).height() - otherElementsHeightThongTinXe);
        });
            var datatest = [
                { soso: "Thái Nguyên", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" },
                { soso: "Thái Nguyên", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" },
                { soso: "Lạng Sơn", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" },
                { soso: "Lạng Sơn", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" },
                { soso: "Lạng Sơn", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" },
                { soso: "Lạng Sơn", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" },
                { soso: "Lạng Sơn", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" },
                { soso: "Hà Nội", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" },
                { soso: "Hà Nội", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" },
                { soso: "Hà Nội", Loai1: "1", Loai2: "2", Loai3: "3", Loai4: "4", Loai5: "5", Loai6: "6", tong: "12", quyhoach_luongtuyen: "1222", hoatdong: "111", quyhoach_sochuyen: "222", dangky: "112", sodonvi: "3333" }
            ];
            BaoCaoHienTrangBen("grid_BaoCaoHienTrangBen", datatest);
    </script>
}
